body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    width: 65%;
    margin: auto !important;
}


.form-control {
    width: 100%;
    box-shadow: none;		
    font-weight: normal;
    font-size: 13px;
}
.form-control:focus {
    border-color: #33cabb;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.navbar-header.col {
    width: 100%;
    padding: 0 !important;
}	
.navbar {
    width: 100%;
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
}
.nav-link img {
    width: 100%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    width: 100%;
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #33cabb;		
}
.navbar .form-inline {
    display: inline-block;
}
.navbar .nav li {
    position: relative;
}
.navbar .nav li a {
    color: #888;
}
.search-box {
    width: 100%;
    position: relative;
}	
.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 4px !important;
    box-shadow: none
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}	
.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #31bfb1;
}
.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}	
.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
}
.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {		
    color: #33cabb;
    padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}	
.navbar .social-btn .btn-primary {
    background: #507cc0;
}
.navbar .social-btn .btn-primary:hover {
    background: #4676bd;
}
.navbar .social-btn .btn-info {
    background: #64ccf1;
}
.navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
}
.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}
.or-seperator {
    width: 100%;;
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.navbar .checkbox-inline {
    font-size: 13px;
}
.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .navbar .dropdown-menu.form-wrapper {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
}

/*banner*/
#banner{
    height: auto;
    width: 100%;
    margin-top: -3%;
}

#banner img{
    width: 100%;
}

/*main*/
#main{
    margin-top: 10px;
    width: 100%;
}



/*Left*/
#main #left {
    width: 69%;
    float: left;
    min-height: 400px;
}

#main #left ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#main #left ul li{
    list-style: none;
    clear: left;
    border-bottom: 1px solid rgb(71, 173, 199);
    float: left;
    margin-bottom: 20px;
}

#main #left ul li img.sp1{
    height: 140px;
    width: 20%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px; 
}

#main #left ul li img.sp2{
    height: 140px;
    width: 20%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#main #left ul li img.sp3{
    height: 140px;
    width: 20%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#main #left ul li img.sp4{
    height: 140px;
    width: 20%; 
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#main #left ul li img.sp5{
    height: 140px;
    width: 20%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#main #left ul li img.sp6{
    height: 140px;
    width: 20%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}



#main #left ul li h4{
    font-size: 160%;
    color: red;
    text-align: right;

}

#main #left ul li b.ma{
    display: block;
    font-size: 115%;
    margin-bottom: 10px;
    line-height: 25px;
}

#main #left ul li.anh{
    height: 161px;
    width: 80%;
}

#main #left ul li.anh b a{
    font-size: 115%;
    text-decoration: none;
    color: black;
}

/*Right*/
#main #right{
    width: 30%;
    background: #858585;
    min-height: 312px;
    float: right;
}

#main #right #menuright{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#main #right .Menu_right ul {
    margin: -10px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ccc;
}

#main #right .Menu_right ul li{
    list-style: none;
}

#main #right .Menu_right h3{
    background: #194d58 url(../image/Menu.jpg) no-repeat 3%;
    height: 40px;
    margin-top: 0px;
    font-size: 120%;
    line-height: 40px;
    color: #ffffff;
    text-indent: 25%;
}

#main #right .Menu_right a{
    display: block;
    text-decoration: none;
    line-height: 39px;
    height: 44px;
    border-bottom: 1px solid #ccc;
    text-indent: 15px;
    font-size: 17px;
    color: white;
}

#main #right .Menu_right a:hover{
    color: rgb(45, 230, 236);
    background: #194d58;
}

/*Footer*/
#footer{
    width: 100%;
    clear: left;
    
}

#footer #mot{
    width: 30%;
    float: left;
}

#footer #mot p{
    font-size: 100%;
}

#footer #hai{
    width: 30%;
    float: left;
    margin-left: 5%;
}

#footer #hai p{
    font-size: 100%;
}

#footer #ba{
    width: 30%;
    float: right; 
}

#footer #ba p.cach{
    font-size: 100%;
    margin-left: 10%;
}

#footer #ba p{
    font-size: 100%;
}

